.nav{
    top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: white;
    height:71px;
    box-shadow: 0px 1px 8px #888888;
    display: flex;
    align-items: center;
}
.icon{
    flex: 0.5;
}
Button:hover{
    background-color:none;
}